<!-- Footer -->
<footer class="navbar-inverse letter-white">
    <div class="container">
        <div class="row clearfix">
            <div class="col-md-12 column">
                <div class="col-md-4 column">
                    <ul class="list-unstyled">
                        <li><a href="#">Acessórios</a></li>
                        <li><a href="{% url 'vehicle_list' %}">Carros</a></li>
                        <li><a href="{% url 'brand_list' %}">Marcas</a></li>
                        <li><a href="{% url 'model_list' %}">Modelos</a></li>
                    </ul>
                </div>
                <div class="col-md-4 column">
                    <ul class="list-unstyled">
                        <li><a href="{% url 'dealership_list' %}">Concessionárias</a></li>
                        <li><a href="{% url 'store_list' %}">Quiosques</a></li>
                        <li><a href="#">Quem Somos</a></li>
                        <li><a href="#">Fale Conosco</a></li>
                    </ul>
                </div>
                <div class="col-md-4 column">
                    <ul class="list-unstyled">
                        <li><a href="#">Cadastre-se</a></li>
                        <li><a href="#">Monte seu Carro</a></li>
                        <li><a href="#">Download</a></li>
                        <li><a href="#">Sobre</a></li>
                    </ul>
                </div>
            </div>
            <div class="row clearfix">
                <div class="text-center">
                    <p class="pull-right">
                        <a href="#">Topo</a>
                    </p>
                    <p>New Way by Many Peoples &copy; 2015 &middot; all righs reserved <a rel="license" href="http://creativecommons.org/licenses/by-nc-sa/3.0/" target="_blank"><img alt="Creative Commons License" style="border-width:0" src="http://i.creativecommons.org/l/by-nc-sa/3.0/br/80x15.png" /></a> </p><!-- background image -->
                </div>
            </div>
        </div>
    </div>        
</footer>
