{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>New Way</title>

    <!-- Bootstrap Core CSS -->
    <link href="{% static "css/bootstrap.min.css" %}" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="{% static "css/new-way.css" %}" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="{% static "css/full-slider.css" %}" rel="stylesheet">

    <!-- Custom Fonts -->
    <link href="{% static "font-awesome/css/font-awesome.min.css" %}" rel="stylesheet" type="text/css">
    <link href="http://fonts.googleapis.com/css?family=Lora:400,700,400italic,700italic" rel="stylesheet" type="text/css">
    <link href="http://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>

<body id="page-top" data-spy="scroll" data-target=".navbar-fixed-top">

    <!-- Navigation -->
    <nav class="navbar navbar-custom navbar-fixed-top" role="navigation">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-main-collapse">
                    <i class="fa fa-bars"></i>
                </button>
                <a class="navbar-brand page-scroll" href="#page-top">
                    <i class="fa fa-car"></i>  <span class="light">New Way</span>
                </a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse navbar-right navbar-main-collapse">
                <ul class="nav navbar-nav">
                    <!-- Hidden li included to remove active class from about link when scrolled up past about section -->
                    <li class="hidden">
                        <a href="#page-top"></a>
                    </li>
                    <li><a class="page-scroll" href="#cars">Carros</a></li>
                    <li><a class="page-scroll" href="{% url 'brand_list' %}">Marcas</a></li>
                    <li><a class="page-scroll" href="{% url 'dealership_list' %}">Concessionárias</a></li>
                    <!-- <li><a class="page-scroll" href="#">Fale Conosco</a></li> -->
                    <li><a class="page-scroll" href="{% url 'admin:index' %}">Login</a></li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container -->
    </nav>




    <!-- Full Page Image Background Carousel Header -->
    <header id="myCarousel" class="carousel slide">
        <!-- Indicators -->
        <ol class="carousel-indicators">
            <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
            <li data-target="#myCarousel" data-slide-to="1"></li>
            <li data-target="#myCarousel" data-slide-to="2"></li>
            <li data-target="#myCarousel" data-slide-to="3"></li>
        </ol>

        <!-- Wrapper for Slides -->
        <div class="carousel-inner">
            <div class="item active">
                <!-- Set the first background image using inline CSS below. -->
                <div class="fill" style="background-image:url(http://amazingcarwallpaper.com/wp-content/uploads/2014/10/pictures%20of%20audi%20s4-SzDy.jpg);"></div>
                <!-- <div class="fill" style="background-image:url(http://forwallpapers.com/wp-content/uploads/2014/04/W-Motors-Lykan-Hypersport-Red-Car-HD-Wallpaper-1024x551.jpg);"></div> -->
                <div class="carousel-caption">
                    <h2>Audi R8 no Brasil.</h2>
                    <a href="#cars" class="btn btn-circle page-scroll">
                        <i class="fa fa-angle-double-down animated"></i>
                    </a>
                    <br>
                    <br>
                </div>
            </div>
            <div class="item">
                <!-- Set the second background image using inline CSS below. -->
                <div class="fill" style="background-image:url(http://mewarnai.us/images/320161-fast-furious-6-cars.jpg);"></div> <!-- static/img/dodge.jpg -->
                <div class="carousel-caption">
                    <h2>Lamborghini</h2>
                    <a href="#cars" class="btn btn-circle page-scroll">
                        <i class="fa fa-angle-double-down animated"></i>
                    </a>
                    <br>
                    <br>
                </div>
            </div>
            <div class="item">
                <!-- Set the third background image using inline CSS below. -->
                <div class="fill" style="background-image:url(http://images.thetruthaboutcars.com/2012/04/2013-Nissan-Sylphy-Sentra-32.jpg);"></div>
                <!-- <div class="fill" style="background-image:url(http://cdn29.elitedaily.com/wp-content/uploads/2013/12/cars-orange-tuning-toyota-supra-green-neon-the-fast-and-the-furious-1920x1080-wallpaper_www.wallmay.com_47.jpg);"></div> -->
                <div class="carousel-caption">
                    <h2>Nissan Sentra 2016</h2>
                    <a href="#cars" class="btn btn-circle page-scroll">
                        <i class="fa fa-angle-double-down animated"></i>
                    </a>
                    <br>
                    <br>
                </div>
            </div>
            <div class="item">
                <!-- Set the third background image using inline CSS below. -->
                <div class="fill" style="background-image:url(http://o.aolcdn.com/dims-shared/dims3/GLOB/legacy_thumbnail/750x422/quality/95/http://www.blogcdn.com/slideshows/images/slides/301/559/5/S3015595/slug/l/03-2015-bmw-x6-fd-1.jpg);"></div>
                <!-- <div class="fill" style="background-image:url(https://static-ssl.businessinsider.com/image/544eb29a69beddb205911e8d-1200-667/3168126360_1534767b28_o.jpg);"></div> -->
                <div class="carousel-caption">
                    <h2>Monte seu carro.</h2>
                    <a href="#cars" class="btn btn-circle page-scroll">
                        <i class="fa fa-angle-double-down animated"></i>
                    </a>
                    <br>
                    <br>
                </div>
            </div>
        </div>

        <!-- Controls -->
        <a class="left carousel-control" href="#myCarousel" data-slide="prev">
            <span class="icon-prev"></span>
        </a>
        <a class="right carousel-control" href="#myCarousel" data-slide="next">
            <span class="icon-next"></span>
        </a>

    </header>

    <!-- Intro Header -->
<!--     <header class="intro"> -->
<!--         <div class="intro-body"> -->
<!--             <div class="container"> -->
<!--                 <div class="row"> -->
<!--                     <div class="col-md-8 col-md-offset-2"> -->
<!--                         <h1>Bem vindo</h1> -->
<!--                         <p class="intro-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p> -->
                        <!-- <p class="intro-text">ao melhor da arquitetura e decoração.</p> -->
<!--                         <a href="#about" class="btn btn-circle page-scroll"> -->
<!--                             <i class="fa fa-angle-double-down animated"></i> -->
<!--                         </a> -->
<!--                     </div> -->
<!--                 </div> -->
<!--             </div> -->
<!--         </div> -->
<!--     </header> -->

    <!-- About Section -->
    <!-- <section id="cars" class="content-section text-center">
            <div>
                <p><img src="http://d1evvto86t5vms.cloudfront.net/news/wp-content/uploads/images/2012/06/super-cars-supercars-hd-place-375597.jpg" width="1360px"></p>
            </div>
    </section> -->

    <!-- About Section -->
    <!-- <section id="cars" class="content-section text-center">
            <div>
                <p><img src="http://d1evvto86t5vms.cloudfront.net/news/wp-content/uploads/images/2012/06/super-cars-supercars-hd-place-375597.jpg" width="1360px"></p>
            </div>
    </section> -->

    <!-- About Section -->
    <section id="cars" class="container content-section text-center">
        <div class="row clearfix">
            <div class="col-md-12 column">
				<div class="col-md-3 column">
					<a href="{% url 'vehicle_list' %}"><img class="img-thumbnail" src="{% static "img/kia_cerato_hatch.jpg" %}" alt="Generic placeholder image"></a>
					<h2>Hatch</h2>
					<p><a class="btn btn-large btn-primary" href="{% url 'vehicle_list' %}" role="button">Escolha seu carro</a></p>
				</div>
				<div class="col-md-3 column">
					<a href="{% url 'vehicle_list' %}"><img class="img-thumbnail" src="{% static "img/ford-focus-sedan.jpg" %}" alt="Generic placeholder image"></a>
					<h2>Sedan</h2>
					<p><a class="btn btn-large btn-primary" href="{% url 'vehicle_list' %}" role="button">Escolha seu carro</a></p>
				</div>
				<div class="col-md-3 column">
					<a href="{% url 'vehicle_list' %}"><img class="img-thumbnail" src="{% static "img/idea_essence_minivan.jpg" %}" alt="Generic placeholder image"></a>
					<h2>Minivan</h2>
					<p><a class="btn btn-large btn-primary" href="{% url 'vehicle_list' %}" role="button">Escolha seu carro</a></p>
				</div>
				<div class="col-md-3 column">
					<a href="{% url 'vehicle_list' %}"><img class="img-thumbnail" src="{% static "img/range-rover-suv.jpg" %}" alt="Generic placeholder image"></a>
					<h2>Suv</h2>
					<p><a class="btn btn-large btn-primary" href="{% url 'vehicle_list' %}" role="button">Escolha seu carro</a></p>
				</div>
	        </div>
        </div>
    </section>

    <!-- About Section -->
    <!-- <section id="about" class="container content-section text-center">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2">
                <h2>Quem somos</h2>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Vero voluptate pariatur optio, nobis recusandae aperiam eaque doloribus minima, iure dolorem. Laboriosam minima quibusdam labore voluptates sapiente nemo aut repudiandae qui.</p>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Obcaecati itaque quaerat, deleniti inventore repudiandae suscipit ullam, eos debitis quae. Debitis inventore cum laborum, itaque aliquid officia adipisci modi non iusto?</p>
            </div>
        </div>
    </section> -->

    <!-- Services Section -->
<!-- 
    <section id="services" class="container content-section text-center">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2">
                <h2 class="section-heading">Serviços</h2>

                <div class='row featured-row'>
                  <div class='col-sm-12'>
                      <div class='col-sm-4 text-center'>
                        <img class="img-circle img-responsive img-center " src="../static/img/services/01.jpg" alt="">
                        <h5>Montagem de Móveis</h5>
                      </div>
                      <div class='col-sm-4 text-center'>
                        <img class="img-circle img-responsive img-center " src="../static/img/services/02.jpg" alt="">
                        <h5>Desmontagem de Móveis</h5>
                      </div>
                      <div class='col-sm-4 text-center'>
                        <img class="img-circle img-responsive img-center " src="../static/img/services/03.jpg" alt="">
                        <h5>Consertos de Móveis</h5>
                      </div>
                    </div>
                  <div class='col-sm-12'>
                      <div class='col-sm-4 text-center'>
                        <img class="img-circle img-responsive img-center " src="../static/img/services/04.jpg" alt="">
                        <h5>Marcenaria em Geral</h5>
                      </div>
                      <div class='col-sm-4 text-center'>
                        <img class="img-circle img-responsive img-center " src="../static/img/services/05.jpg" alt="">
                        <h5>Reposição de Peças</h5>
                      </div>
                      <div class='col-sm-4 text-center'>
                        <img class="img-circle img-responsive img-center " src="../static/img/services/06.jpg" alt="">
                        <h5>Assistência Técnica</h5>
                      </div>
                    </div>
                  <div class='col-sm-12'>
                      <div class='col-sm-4 text-center'>
                        <img class="img-circle img-responsive img-center " src="../static/img/services/07.jpg" alt="">
                        <h5>Instalação de Cortinas</h5>
                      </div>
                      <div class='col-sm-4 text-center'>
                        <img class="img-circle img-responsive img-center " src="../static/img/services/08.jpg" alt="">
                        <h5>Instalação de Varais</h5>
                      </div>
                      <div class='col-sm-4 text-center'>
                        <img class="img-circle img-responsive img-center " src="../static/img/services/09.jpg" alt="">
                        <h5>Instalação de Chuveiro</h5>
                      </div>
                    </div>
                  <div class='col-sm-12'>
                      <div class='col-sm-4 text-center'>
                        <img class="img-circle img-responsive img-center " src="../static/img/services/10.jpg" alt="">
                        <h5>Colocação de Quadros</h5>
                      </div>
                      <div class='col-sm-4 text-center'>
                        <img class="img-circle img-responsive img-center " src="../static/img/services/11.jpg" alt="">
                        <h5>Instalação de Prateleiras</h5>
                      </div>
                      <div class='col-sm-4 text-center'>
                        <img class="img-circle img-responsive img-center " src="../static/img/services/12.jpg" alt="">
                        <h5>Montagem de Planejados</h5>
                      </div>
                    </div>
                  <div class='col-sm-12'>
                      <div class='col-sm-4 text-center'>
                        <img class="img-circle img-responsive img-center " src="../static/img/services/13.jpg" alt="">
                        <h5>Montagem de Escritório</h5>
                      </div>
                      <div class='col-sm-4 text-center'>
                        <img class="img-circle img-responsive img-center " src="../static/img/services/14.jpg" alt="">
                        <h5>Embalagem de Móveis</h5>
                      </div>
                    </div>

                </div>

            </div>
        </div>
    </section>    
-->

    <!-- Services Section -->
<!-- 
    <section id="services" class="container content-section text-center">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">Serviços</h2>
            </div>
        </div>
        <div class="row text-center">
            <div class="col-md-3">
                <span class="fa-stack fa-4x">
                    <i class="fa fa-circle fa-stack-2x text-vinho"></i>
                    <i class="fa fa-gavel fa-stack-1x fa-inverse"></i>
                </span>
                <h4 class="service-heading"><a href="">M</a></h4>
            </div>
            <div class="col-md-3">
                <span class="fa-stack fa-4x">
                    <i class="fa fa-circle fa-stack-2x text-vinho"></i>
                    <i class="fa fa-truck fa-stack-1x fa-inverse"></i>
                </span>
                <h4 class="service-heading"><a href="">E</a></h4>
            </div>
            <div class="col-md-3">
                <span class="fa-stack fa-4x">
                    <i class="fa fa-circle fa-stack-2x text-vinho"></i>
                    <i class="fa fa-thumb-tack fa-stack-1x fa-inverse"></i>
                </span>
                <h4 class="service-heading"><a href="">I</a></h4>
            </div>
            <div class="col-md-3">
                <span class="fa-stack fa-4x">
                    <i class="fa fa-circle fa-stack-2x text-vinho"></i>
                    <i class="fa fa-file-image-o fa-stack-1x fa-inverse"></i>
                </span>
                <h4 class="service-heading"><a href="">P</a></h4>
            </div>
        </div>
    </section>
-->
    <!-- Carros Section -->
    <section id="client" class="content-section text-center">
        <div class="client-section">
            <div class="container">
                <div class="col-lg-8 col-lg-offset-2">
                    <h2>Monte o seu carro.</h2>
                    <a href="{% url 'vehicle_list' %}" class="btn btn-social btn-lg">Mais...</a>
                </div>
            </div>
        </div>
    </section>

    <!-- Contact Section -->
<!-- 
    <section id="contact" class="container content-section text-center">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2">
                <h2>Agende seu serviço conosco</h2>

                <div class='row featured-row'>
                  <div class='col-sm-12'>
                      <div class='col-sm-4'>
                        <i class="fa fa-phone fa-3x"></i>
                        <p><img src="../static/img/operadoras/tim.png" height="32px"> &nbsp; 00-98000-0001</br>
                        <img src="../static/img/operadoras/oi.png" height="16px"> &nbsp; 00-98000-0002</br>
                        <img src="../static/img/operadoras/vivo.png" height="16px"> &nbsp; 00-98000-0003
                            <img src="../static/img/operadoras/whatsapp_icon.png" height="16px"></br>
                        <img src="../static/img/operadoras/claro.png" height="16px"> &nbsp; 00-98000-0004
                        </p>
                      </div>
                      <div class='col-sm-4'>
                        <i class="fa fa-map-marker fa-3x"></i>
                        <p>Rua Um, 2</br>
                        Bairro - Cidade - UF</br>
                        CEP: 00000-000</p>
                      </div>
                      <div class='col-sm-4'>
                        <i class="fa fa-envelope fa-3x"></i>
                        <p><a href="mailto:email@example.com">email@example.com</a></p>
                      </div>
                    </div>

                </div>

                <ul class="list-inline banner-social-buttons">
                    <li>
                        <a href="#" class="btn btn-social btn-lg"><i class="fa fa-facebook fa-fw"></i> <span class="network-name">Facebook</span></a>
                    </li>
                    <li>
                        <a href="#" class="btn btn-social btn-lg"><i class="fa fa-twitter fa-fw"></i> <span class="network-name">Twitter</span></a>
                    </li>
                    <li>
                        <a href="#" class="btn btn-social btn-lg"><i class="fa fa-instagram fa-fw"></i> <span class="network-name">Instagram</span></a>
                    </li>
                </ul>
            </div>
        </div>
    </section>
-->
    <!-- Map Section -->
    <!-- <div id="map"></div> -->

    <!-- Footer -->
    <footer>
        <div class="container text-center">
            <p>Copyright &copy; New Way Project 2015</p>
        </div>
    </footer>

    <!-- jQuery -->
    <script src="{% static "js/jquery.js" %}"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="{% static "js/bootstrap.min.js" %}"></script>

    <!-- Plugin JavaScript -->
    <script src="{% static "js/jquery.easing.min.js" %}"></script>

    <!-- Google Maps API Key - Use your own API key to enable the map feature. More information on the Google Maps API can be found at https://developers.google.com/maps/ -->
    <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCRngKslUGJTlibkQ3FkfTxj3Xss1UlZDA&sensor=false"></script>

    <!-- Custom Theme JavaScript -->
    <script src="{% static "js/grayscale.js" %}"></script>

    <!-- Script to Activate the Carousel -->
    <script>
    $('.carousel').carousel({
        interval: 5000 //changes the speed
    })
    </script>


</body>

</html>
