{% extends "base.html" %}

{% block content %}

    <p class="alert alert-warning">Em construção.</p>

    <div id="donutchart" class="col-lg-6" style="height: 250px;"></div>

{% endblock content %}

{% block myscript %}

    <script type="text/javascript">
        Morris.Bar({
            element: 'barchart',
            data: [
                {% for item in itens %}
                    { uf: '{{ item.uf }}', quant:  {{ item.quant }} },
                {% endfor %}
            ],
            xkey: 'uf',
            ykeys: ['quant'],
            labels: ['quant'],
            hideHover: 'auto',
            resize: true,
        });
    </script>

    <script type="text/javascript">
        Morris.Donut({
            element: 'donutchart',
            data: [
                {% for gender in genders %}
                    { label: '{{ gender.gender }}', value:  {{ gender.value }}},
                {% endfor %}
            ],
            colors: [
              '#FF00FF', // magenta
              '#0000CD', // azul
            ],
            formatter: function (x) { return x + "%"}
        });
    </script>
{% endblock myscript %}

