{% extends "base.html" %}

{% block content %}

    <form class="navbar-form navbar-right" action="." method="get">
        <input id="search_box" name="search_box" type="text" placeholder="Localizar..." class="form-control">
        <button type="submit" class="btn btn-success form-control"><span class="glyphicon glyphicon-search"></span></button>
    </form>
	
    <div class="page-header">
        <h2>Escolha seu acessório <font size="3">(valores fictícios)</font></h2>
    </div>

    <div class="container initial-p">
        <div class="row">
		    {% if object_list %}
				{% for accessory in object_list %}

		            <div class="col-md-4 portfolio-item">
		                    <img class="img-responsive" src="{{ accessory.photo_accessory.url }}" height="50px">
		                <h3>{{ accessory.accessory }}</h3>
		                <h4 class="highlight">{{ accessory.get_price }}</h4>
		            </div>

	        {% endfor %}
	        {% else %}
		        <p class="alert alert-warning">Sem itens na lista.</p>
		    {% endif %}
	    </div>
    </div>

<!-- pagination -->
{% include "pagination.html" %}

{% endblock content %}