{% extends "base.html" %}

{% block content %}
	
    <div class="page-header">
        <h2>Carros</h2>
    </div>

    <div class="container initial-p">
        <div class="row">
		    {% if object_list %}
				{% for vehicle in object_list %}

		            <div class="col-md-4 portfolio-item">
		                <a href="#project-link">
		                    <img class="img-responsive" src="{{ vehicle.photo_vehicle.url }}" height="50px">
		                </a>
		                <!-- <div class="ratings">
		                    <p class="pull-right">3 reviews</p>
		                    <p>
		                        <span class="glyphicon glyphicon-star"></span>
		                        <span class="glyphicon glyphicon-star"></span>
		                        <span class="glyphicon glyphicon-star"></span>
		                        <span class="glyphicon glyphicon-star"></span>
		                        <span class="glyphicon glyphicon-star-empty"></span>
		                        4.0 stars
		                    </p>
		                </div> -->
		                <h3><a href="#project-link">{{ vehicle.vehicle }}</a>
		                </h3>
		                <div class="pull-right">
			                <a class="btn btn-primary" href="#">Monte seu carro <span class="glyphicon glyphicon-plus"></span></a>
		                </div>
		                <p>A partir de</p>
		                <h4 class="highlight">R$ {{ vehicle.price }}</h4>
		            </div>

	        {% endfor %}
	        {% else %}
		        <p class="alert alert-warning">Sem itens na lista.</p>
		    {% endif %}
	    </div>
    </div>

        <hr>

        <div class="row">
<!--			<table class="table table-striped">
				<thead>
					<tr>
						<th>Foto</th>
						<th>Carro</th>
						<th>Modelo</th>
						<th>Cor</th>
						<th>Ano</th>
						<th>Potência</th>
						<th>Combustível</th>
						<th>Câmbio</th>
						<th>Freio</th>
						<th>Roda</th>
						<th>Desempenho</th>
						<th>Porta-malas</th>
						<th>A partir de</th>
					</tr>
				</thead>
				<tbody>
			    	{% for vehicle in object_list %}
			    		<tr>
							<td><img src="{{ vehicle.photo_vehicle.url }}" height="30px" width="50px"></td>
							<td>{{ vehicle.vehicle }}</td>
							<td>{{ vehicle.modell }}</td>
							<td>{{ vehicle.color }}</td>
							<td>{{ vehicle.year_of_manufacture }}</td>
							<td>{{ vehicle.engine_power }}</td>
							<td>{{ vehicle.get_fueltype_display }}</td>
							<td>{{ vehicle.get_transmissiontype_display }}</td>
							<td>{{ vehicle.wheel }}</td>
							<td>{{ vehicle.tire }}</td>
							<td>{{ vehicle.performance }}</td>
							<td>{{ vehicle.trunk }}</td>
							<td>{{ vehicle.price }}</td>
			    		</tr>
			    	{% endfor %}
				</tbody>
			</table>
	     else 
	        <p class="alert alert-warning">Sem itens na lista.</p>
	     endif  -->
	</div>

{% endblock content %}

