<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="shortcut icon" href="static/docs-assets/ico/car.png">

    <title>Sobre</title>

    <!-- Bootstrap core CSS -->
    <link href="static/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="static/css/offcanvas.css" rel="stylesheet">

    <!-- Just for debugging purposes. Don't actually copy this line! -->
    <!--[if lt IE 9]><script src="../../docs-assets/js/ie8-responsive-file-warning.js"></script><![endif]-->

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
    <![endif]-->
  </head>

  <body>
    <div class="navbar navbar-fixed-top navbar-inverse" role="navigation">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="../index.html">New Way</a>
        </div>
        <div class="collapse navbar-collapse">
          <ul class="nav navbar-nav">
            <li class="active"><a href="layout1.html">Home</a></li>
          </ul>
        </div><!-- /.nav-collapse -->
      </div><!-- /.container -->
    </div><!-- /.navbar -->

    <div class="container">

<form class="form-horizontal">
<fieldset>

<!-- Form Name -->
<legend>Cadastrar-se</legend>

<!-- Text input-->
<div class="form-group">
  <label class="col-md-4 control-label" for="txtnome">Nome *</label>  
  <div class="col-md-4">
  <input id="txtnome" name="txtnome" type="text" placeholder="Nome" class="form-control input-md" required="">
  </div>
</div>

<!-- Text input-->
<div class="form-group">
  <label class="col-md-4 control-label" for="txtsobrenome">Sobrenome *</label>  
  <div class="col-md-4">
  <input id="txtsobrenome" name="txtsobrenome" type="text" placeholder="Sobrenome" class="form-control input-md" required="">
  </div>
</div>

<!-- Text input-->
<div class="form-group">
  <label class="col-md-4 control-label" for="txtcpf">CPF *</label>  
  <div class="col-md-4">
  <input id="txtcpf" name="txtcpf" type="text" placeholder="CPF" class="form-control input-md" required="">
  <!-- <span class="help-block">Digite o seu sobrenome</span>   -->
  </div>
</div>

<!-- Text input-->
<div class="form-group">
  <label class="col-md-4 control-label" for="txtdatanasc">Data de Nascimento *</label>  
  <div class="col-md-4">
  <input id="txtdatanasc" name="txtdatanasc" type="date" placeholder="dd/mm/yyyy" class="form-control input-md" required="">
  </div>
</div>

<!-- Text input-->
<div class="form-group">
  <label class="col-md-4 control-label" for="txtemail">e-mail *</label>  
  <div class="col-md-4">
  <input id="txtemail" name="txtemail" type="email" placeholder="e-mail" class="form-control input-md" required="">
  </div>
</div>

<!-- Text input-->
<div class="form-group">
  <label class="col-md-4 control-label" for="txttel">Telefone</label>  
  <div class="col-md-4">
  <input id="txttel" name="txttel" type="text" placeholder="Telefone" class="form-control input-md">
  </div>
</div>

<!-- Text input-->
<div class="form-group">
  <label class="col-md-4 control-label" for="txtcel">Celular</label>  
  <div class="col-md-4">
  <input id="txtcel" name="txtcel" type="text" placeholder="Celular" class="form-control input-md">
  </div>
</div>

<!-- Text input-->
<div class="form-group">
  <label class="col-md-4 control-label" for="txtendereco">Endereço</label>  
  <div class="col-md-4">
  <input id="txtendereco" name="txtendereco" type="text" placeholder="Endereço" class="form-control input-md">
  </div>
</div>

<!-- Text input-->
<div class="form-group">
  <label class="col-md-4 control-label" for="txtbairro">Bairro</label>  
  <div class="col-md-4">
  <input id="txtbairro" name="txtbairro" type="text" placeholder="Bairro" class="form-control input-md">
  </div>
</div>

<!-- Text input-->
<div class="form-group">
  <label class="col-md-4 control-label" for="txtcidade">Cidade</label>  
  <div class="col-md-4">
  <input id="txtcidade" name="txtcidade" type="text" placeholder="Cidade" class="form-control input-md">
  </div>
</div>

<!-- Select Basic -->
<div class="form-group">
  <label class="col-md-4 control-label" for="selectuf">UF</label>
  <div class="col-md-4">
    <select id="selectuf" name="selectuf" class="form-control">
      <option value="1">AC</option>
      <option value="2">AL</option>
      <option value="3">AM</option>
      <option value="4">AP</option>
      <option value="5">BA</option>
      <option value="6">CE</option>
      <option value="7">DF</option>
      <option value="8">ES</option>
      <option value="9">GO</option>
      <option value="10">MA</option>
      <option value="11">MG</option>
      <option value="12">MS</option>
      <option value="13">MT</option>
      <option value="14">PA</option>
      <option value="15">PB</option>
      <option value="16">PE</option>
      <option value="17">PI</option>
      <option value="18">PR</option>
      <option value="19">RJ</option>
      <option value="20">RN</option>
      <option value="21">RO</option>
      <option value="22">RR</option>
      <option value="23">RS</option>
      <option value="24">SC</option>
      <option value="26">SE</option>
      <option value="25">SP</option>
      <option value="27">TO</option>
    </select>
  </div>
</div>

<!-- Text input-->
<div class="form-group">
  <label class="col-md-4 control-label" for="txtcep">CEP</label>  
  <div class="col-md-4">
  <input id="txtcep" name="txtcep" type="text" placeholder="CEP" class="form-control input-md">
  </div>
</div>

<!-- Button -->
<div class="form-group">
  <label class="col-md-4 contrl-label" for="singlebutton"></label>
  <div class="col-md-4">
    <button id="singlebutton" name="singlebutton" class="btn btn-lg btn-primary" type="submit">Entrar</button>
  </div>
</div>

</fieldset>
</form>


      <hr>

      <!-- FOOTER -->
      <footer>
        <p class="pull-right"><a href="#">Voltar ao topo</a></p>
        <p>New Way by 2 Many Peoples &copy; 2013</p>
         <!-- &middot; <a href="#">Privacy</a> &middot; <a href="#">Terms</a></p> -->
      </footer>

    </div><!--/.container-->



    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://code.jquery.com/jquery-1.10.2.min.js"></script>
    <script src="static/js/bootstrap.min.js"></script>
    <script src="static/js/offcanvas.js"></script>
  </body>
</html>
