{% extends "base.html" %}

{% block content %}

	<h1>Interessados</h1>

<div class="panel-body">
    <div class="dataTable_wrapper">

		<table class="table table-striped" id="dataTables-example">

			<thead>
			<tr>
				<th>Nome</th>
				<th>CPF</th>
				<th>email</th>
			</tr>
			</thead>

			<tbody>
				{% for customer in object_list %}
					<tr>
						<td>{{ customer.first_name }} {{ customer.last_name }}</td>
						<td>{{ customer.cpf }}</td>
						<td>{{ customer.email }}</td>
					</tr>			
				{% endfor %}
			</tbody>

		</table>

	</div>
</div>

{% endblock content %}

{% block myscript %}
  
    <script>
	    $(document).ready(function() {
	        $('#dataTables-example').DataTable({
                responsive: true
	        });
	    });
    </script>

{% endblock myscript %}
