{% extends "base_initial.html" %}

{% block content %}

	<div class="row clearfix jumbotron">
		<div class="col-md-12 column">
			<h1>Pedido: {{ object.id }}
			<span class="pull-right">Data: {{ object.created_at|date:"d/m/Y"}}</span></h1>
		</div>
	</div>

	<h2 class="page-header">Dados Pessoais</h2>
	<div class="row clearfix">
		<div class="col-md-6 column">
			<h3 class="huge">{{ object.customer.full_name }}</h3>
			<p>CPF: {{ object.customer.cpf }}</p>
			<p>Data de nascimento: {{ object.customer.birthday }}</p>
			<p>e-mail: <a href="#">{{ object.customer.email }}</a></p>
			<p>Telefone: {{ object.customer.phone }}</p>
			<p>Celular: {{ object.customer.cell }}</p>
		</div>
		<div class="col-md-6 column text-right">
			<h3>Endereço</h3>
			<p>Endereço: {{ object.customer.address }}</p>
			<p>Bairro: {{ object.customer.district }}</p>
			<p>Cidade: {{ object.customer.city }}</p>
			<p>UF: {{ object.customer.uf }}</p>
			<p>CEP: {{ object.customer.cep }}</p>
		</div>
	</div>

	<h2 class="page-header">Veículo</h2>
	<div class="row clearfix">
		<div class="col-md-12 column">
				<p class="huge">{{ object.vehicle }}<span class="huge pull-right label label-info">{{ object.vehicle.get_price }}</span></p>
			<ul class="list-group">
				<li class="list-group-item">Marca/Modelo: {{ object.vehicle.modell.brand }} {{ object.vehicle.modell }}</li>
				<li class="list-group-item">Cor: {{ object.vehicle.color }}</li>
				<li class="list-group-item">Motor: {{ object.vehicle.engine_power }}</li>
				<li class="list-group-item">Tipo de combustível: {{ object.vehicle.get_fueltype_display }}</li>
				<li class="list-group-item">Tipo de câmbio: {{ object.vehicle.get_transmissiontype_display }}</li>
				<li class="list-group-item">Potência: {{ object.vehicle.power }} cv</li>
			</ul>
		</div>
	</div>

	<h2 class="page-header">Kit</h2>
	<div class="row clearfix">
		<div class="col-md-12 column">
			<ul class="list-group">
				<li class="list-group-item">Kit: {{ object.kit_optional }}</li>
			</ul>
		</div>
	</div>

	<h2 class="page-header">Resumo</h2>
	<div class="row clearfix">
		<div class="col-md-12 column">
			<table class="table lead">
				<tbody>
		    		<tr>
						<td>{{ object.vehicle }}</td>
						<td class="text-right">{{ object.vehicle.get_price }}</td>
		    		</tr>
		    		<tr>
						<td>{{ object.kit_optional }}</td>
						<td class="text-right">R$ 0000,00</td>
		    		</tr>
		    		<tr class="large">
						<td>Total</td>
						<td class="text-right">{{ object.vehicle.get_price }}</td>
		    		</tr>
				</tbody>
			</table>
		</div>
	</div>

	<h2 class="page-header">Concessionária</h2>
	<div class="row clearfix">
		<div class="col-md-12 column">
			{% for o in ordered.dealership.all %}
				<div class="col-md-4 column">
					<ul class="list-group">
						<li class="list-group-item">
							<h3>{{ o.dealership }}</h3>
							<address><br /> {{ o.address }}<br />
							{{ o.district }}, {{ o.city }}, {{ o.uf }} - {{ o.cep }}<br />
							{{ o.phone1 }}<br />
							<a href="#">{{ o.site }}</a></address>
						</li>
					</ul>
				</div>
			{% endfor %}
		</div>
	</div>

{% endblock content %}