<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">

<!--    {% block title %} -->
        <title>Base Menu Rodapé</title>
<!--    {% endblock title %} -->

    <!-- Bootstrap core CSS -->
    <link href="static/css/bootstrap.css" rel="stylesheet">
    <link href="static/css/base.css" rel="stylesheet">

    <!-- Add custom CSS here -->
    <link href="full-slider.css" rel="stylesheet">

</head>

<body>

    <nav class="navbar navbar-fixed-top navbar-inverse" role="navigation">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#">New Way</a>
            </div>
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse navbar-ex1-collapse">
                <ul class="nav navbar-nav">
                    <li><a href="#">Home</a>
                    </li>
                    <li><a href="#">Carros</a>
                    </li>
                    <li><a href="#">Concessionárias</a>
                    </li>
                    <li><a href="#">Cadastre-se</a>
                    </li>
                    <li><a href="#">Monte seu Carro</a>
                    </li>
                    <li><a href="#">Quem Somos</a>
                    </li>
                    <li><a href="#">Fale Conosco</a>
                    </li>
                    <li><a href="#">Login</a>
                    </li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container -->
    </nav>

<!--    {% block content %} -->

        <div class="initial-p">
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Tempore error, reprehenderit facilis, deserunt ipsum labore suscipit voluptatem incidunt nihil nam nulla rem voluptates nisi provident placeat? Eveniet, aliquid temporibus atque? Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nam perspiciatis eius ducimus doloribus, tempore, suscipit, impedit ab deserunt illum accusamus sapiente aperiam modi natus beatae ipsum amet odit molestias adipisci? Lorem ipsum dolor sit amet, consectetur adipisicing elit. Alias eos, aspernatur libero vel! Voluptatibus saepe quae ab enim laborum beatae at commodi, vero ullam quibusdam temporibus! Minus aliquid eveniet libero.</p>
        </div>

<!--    {% endblock content %} -->

<footer class="navbar-inverse letter-white">
    <div class="container">
        <div class="row clearfix">
            <div class="col-md-12 column">
                <div class="col-md-4 column">
                    <ul>
                        <li>
                            Acessórios
                        </li>
                        <li>
                            Carros
                        </li>
                        <li>
                            Marcas
                        </li>
                        <li>
                            Modelos
                        </li>
                    </ul>
                </div>
                <div class="col-md-4 column">
                    <ul>
                        <li>
                            Concessionárias
                        </li>
                        <li>
                            Quiosques
                        </li>
                        <li>
                            Quem Somos
                        </li>
                        <li>
                            Fale Conosco
                        </li>
                    </ul>
                </div>
                <div class="col-md-4 column">
                    <ul>
                        <li>
                            Cadastre-se
                        </li>
                        <li>
                            Monte seu Carro
                        </li>
                    </ul>
                </div>
            </div>
            <div class="row clearfix">
                <div class="col-md-12 column">
                    <p class="pull-right">
                        <a href="#">Topo</a>
                    </p>
                    <p>Logo New Way by 2 Many Peoples &copy; 2014 &middot; all righs reserved. <a rel="license" href="http://creativecommons.org/licenses/by-nc-sa/3.0/" target="_blank"><img alt="Creative Commons License" style="border-width:0" src="http://i.creativecommons.org/l/by-nc-sa/3.0/br/80x15.png" /></a> github and background image</p>
                </div>
            </div>
        </div>
    </div>        
</footer>

    <!-- JavaScript -->
    <script src="../static/js/jquery-1.10.2.js"></script>
    <script src="../static/js/bootstrap.js"></script>

    <!-- Script to Activate the Carousel -->
    <!--     <script>  -->
    <!--     $('.carousel').carousel({  -->
    <!--         interval: 5000 //changes the speed  -->
    <!--     })  -->
    <!--     </script>  -->
</body>

</html>
