<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">

<!--    {% block title %} -->
    <title>Marcas lista</title>
<!--    {% endblock title %} -->

    <!-- Bootstrap core CSS -->
    <link href="static/css/bootstrap.css" rel="stylesheet">
    <link href="static/css/base.css" rel="stylesheet">

    <!-- Add custom CSS here -->
    <link href="full-slider.css" rel="stylesheet">

</head>

<body>
<!-- Menu -->
    <nav class="navbar navbar-fixed-top navbar-inverse" role="navigation">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#">New Way</a>
            </div>
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse navbar-ex1-collapse">
                <ul class="nav navbar-nav">
                    <li><a href="#">Home</a>
                    </li>
                    <li><a href="#">Carros</a>
                    </li>
                    <li><a href="#">Concessionárias</a>
                    </li>
                    <li><a href="#">Cadastre-se</a>
                    </li>
                    <li><a href="#">Monte seu Carro</a>
                    </li>
                    <li><a href="#">Quem Somos</a>
                    </li>
                    <li><a href="#">Fale Conosco</a>
                    </li>
                    <li><a href="#">Login</a>
                    </li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container -->
    </nav>

<!-- titulo -->
    <div class="container">

        <div class="row">

            <div class="col-lg-12">
                <h1 class="page-header">Marcas
                </h1>
            </div>

        </div>

<!-- 5 colunas -->
        <div class="row">

            <div class="col-md-25 portfolio-item">
                <a href="#project-link">
                    <img class="img-responsive center" src="static/img/marcas/audi.png">
                    <p class="center">Audi</p>
                </a>
            </div>
            <div class="col-md-25 portfolio-item">
                <a href="#project-link">
                    <img class="img-responsive center" src="static/img/marcas/bmw.png">
                    <p class="center">BMW</p>
                </a>
            </div>
            <div class="col-md-25 portfolio-item">
                <a href="#project-link">
                    <img class="img-responsive center" src="static/img/marcas/chevrolet.png">
                    <p class="center">Chevrolet</p>
                </a>
            </div>
            <div class="col-md-25 portfolio-item">
                <a href="#project-link">
                    <img class="img-responsive center" src="static/img/marcas/chrysler.png">
                    <p class="center">Chrysler</p>
                </a>
            </div>
            <div class="col-md-25 portfolio-item">
                <a href="#project-link">
                    <img class="img-responsive center" src="static/img/marcas/citroen.png">
                    <p class="center">Citroen</p>
                </a>
            </div>

        </div>

        <div class="row">

            <div class="col-md-25 portfolio-item">
                <a href="#project-link">
                    <img class="img-responsive center" src="static/img/marcas/dodge.png">
                    <p class="center">Dodge</p>
                </a>
            </div>
            <div class="col-md-25 portfolio-item">
                <a href="#project-link">
                    <img class="img-responsive center" src="static/img/marcas/fiat.png">
                    <p class="center">Fiat</p>
                </a>
            </div>
            <div class="col-md-25 portfolio-item">
                <a href="#project-link">
                    <img class="img-responsive center" src="static/img/marcas/ford.png">
                    <p class="center">Ford</p>
                </a>
            </div>
            <div class="col-md-25 portfolio-item">
                <a href="#project-link">
                    <img class="img-responsive center" src="static/img/marcas/honda.png">
                    <p class="center">Honda</p>
                </a>
            </div>
            <div class="col-md-25 portfolio-item">
                <a href="#project-link">
                    <img class="img-responsive center" src="static/img/marcas/hyundai.png">
                    <p class="center">Hyundai</p>
                </a>
            </div>

        </div>

        <div class="row">

            <div class="col-md-25 portfolio-item">
                <a href="#project-link">
                    <img class="img-responsive center" src="static/img/marcas/jac.png">
                    <p class="center">JAC Motors</p>
                </a>
            </div>
            <div class="col-md-25 portfolio-item">
                <a href="#project-link">
                    <img class="img-responsive center" src="static/img/marcas/jaguar.png">
                    <p class="center">Jaguar</p>
                </a>
            </div>
            <div class="col-md-25 portfolio-item">
                <a href="#project-link">
                    <img class="img-responsive center" src="static/img/marcas/jeep.png">
                    <p class="center">Jeep</p>
                </a>
            </div>
            <div class="col-md-25 portfolio-item">
                <a href="#project-link">
                    <img class="img-responsive center" src="static/img/marcas/land-rover.png">
                    <p class="center">Land-Rover</p>
                </a>
            </div>
            <div class="col-md-25 portfolio-item">
                <a href="#project-link">
                    <img class="img-responsive center" src="static/img/marcas/mercedez.png">
                    <p class="center">Mercedez</p>
                </a>
            </div>

        </div>

        <div class="row">

            <div class="col-md-25 portfolio-item">
                <a href="#project-link">
                    <img class="img-responsive center" src="static/img/marcas/mini.png">
                    <p class="center">Mini</p>
                </a>
            </div>
            <div class="col-md-25 portfolio-item">
                <a href="#project-link">
                    <img class="img-responsive center" src="static/img/marcas/mitsubishi.png">
                    <p class="center">Mitsubishi</p>
                </a>
            </div>
            <div class="col-md-25 portfolio-item">
                <a href="#project-link">
                    <img class="img-responsive center" src="static/img/marcas/nissan.png">
                    <p class="center">Nissan</p>
                </a>
            </div>
            <div class="col-md-25 portfolio-item">
                <a href="#project-link">
                    <img class="img-responsive center" src="static/img/marcas/peugeot.png">
                    <p class="center">Peugeot</p>
                </a>
            </div>
            <div class="col-md-25 portfolio-item">
                <a href="#project-link">
                    <img class="img-responsive center" src="static/img/marcas/porsche.png">
                    <p class="center">Porsche</p>
                </a>
            </div>

        </div>

        <div class="row">

            <div class="col-md-25 portfolio-item">
                <a href="#project-link">
                    <img class="img-responsive center" src="static/img/marcas/renault.png">
                    <p class="center">Renault</p>
                </a>
            </div>
            <div class="col-md-25 portfolio-item">
                <a href="#project-link">
                    <img class="img-responsive center" src="static/img/marcas/suzuki.png">
                    <p class="center">Suzuki</p>
                </a>
            </div>
            <div class="col-md-25 portfolio-item">
                <a href="#project-link">
                    <img class="img-responsive center" src="static/img/marcas/toyota.png">
                    <p class="center">Toyota</p>
                </a>
            </div>
            <div class="col-md-25 portfolio-item">
                <a href="#project-link">
                    <img class="img-responsive center" src="static/img/marcas/volkswagen.png">
                    <p class="center">Volkswagen</p>
                </a>
            </div>
            <div class="col-md-25 portfolio-item">
                <a href="#project-link">
                    <img class="img-responsive center" src="static/img/marcas/volvo.png">
                    <p class="center">Volvo</p>
                </a>
            </div>

        </div>

    </div>
    <!-- /.container -->

<footer class="navbar-inverse letter-white footer-back">
    <div class="container">
        <div class="row clearfix">
            <div class="col-md-12 column">
                <div class="col-md-4 column">
                    <ul>
                        <li>
                            Acessórios
                        </li>
                        <li>
                            Carros
                        </li>
                        <li>
                            Marcas
                        </li>
                        <li>
                            Modelos
                        </li>
                    </ul>
                </div>
                <div class="col-md-4 column">
                    <ul>
                        <li>
                            Concessionárias
                        </li>
                        <li>
                            Quiosques
                        </li>
                        <li>
                            Quem Somos
                        </li>
                        <li>
                            Fale Conosco
                        </li>
                    </ul>
                </div>
                <div class="col-md-4 column">
                    <ul>
                        <li>
                            Cadastre-se
                        </li>
                        <li>
                            Monte seu Carro
                        </li>
                    </ul>
                </div>
            </div>
            <div class="row clearfix">
                <div class="col-md-12 column">
                    <p class="pull-right">
                        <a href="#">Topo</a>
                    </p>
                    <p>Logo New Way by 2 Many Peoples &copy; 2014 &middot; all righs reserved. <a rel="license" href="http://creativecommons.org/licenses/by-nc-sa/3.0/" target="_blank"><img alt="Creative Commons License" style="border-width:0" src="http://i.creativecommons.org/l/by-nc-sa/3.0/br/80x15.png" /></a> github and background image</p>
                </div>
            </div>
        </div>
    </div>        
</footer>

    <!-- JavaScript -->
    <script src="static/js/jquery-1.10.2.js"></script>
    <script src="static/js/bootstrap.js"></script>

</body>

</html>
