<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">

<!--    {% block title %} -->
    <title>Veículos lista</title>
<!--    {% endblock title %} -->

    <!-- Bootstrap core CSS -->
    <link href="static/css/bootstrap.css" rel="stylesheet">
    <link href="static/css/base.css" rel="stylesheet">

    <!-- Add custom CSS here -->
    <link href="full-slider.css" rel="stylesheet">

</head>

<body>
<!-- Menu -->
    <nav class="navbar navbar-fixed-top navbar-inverse" role="navigation">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#">New Way</a>
            </div>
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse navbar-ex1-collapse">
                <ul class="nav navbar-nav">
                    <li><a href="#">Home</a>
                    </li>
                    <li><a href="#">Carros</a>
                    </li>
                    <li><a href="#">Concessionárias</a>
                    </li>
                    <li><a href="#">Cadastre-se</a>
                    </li>
                    <li><a href="#">Monte seu Carro</a>
                    </li>
                    <li><a href="#">Quem Somos</a>
                    </li>
                    <li><a href="#">Fale Conosco</a>
                    </li>
                    <li><a href="#">Login</a>
                    </li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container -->
    </nav>

<!-- Lista -->
    <div class="container initial-p">

        <div class="row">

            <div class="col-lg-7 col-md-7">
                <a href="#">
                    <img class="img-responsive" src="static/img/car_700x300.jpg" alt="">
                </a>
                <div class="ratings">
                    <p class="pull-right">45 reviews</p>
                    <p>
                        <span class="glyphicon glyphicon-star"></span>
                        <span class="glyphicon glyphicon-star"></span>
                        <span class="glyphicon glyphicon-star"></span>
                        <span class="glyphicon glyphicon-star"></span>
                        <span class="glyphicon glyphicon-star-empty"></span>
                        4.0 stars
                    </p>
                </div>
            </div>

            <div class="col-lg-2 col-md-2">
                <h3>Carro 1</h3>
                <h4>Subheading</h4>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam viverra euismod odio, gravida pellentesque urna varius vitae. Sed dui lorem, adipiscing in adipiscing et.</p>
                <a class="btn btn-primary" href="#">Monte seu carro <span class="glyphicon glyphicon-chevron-right"></span></a>
            </div>

            <div class="col-lg-2 col-md-2">
                <p>A partir de</p>
                <h4>R$ 12.500,00</h4>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. At illum ea non incidunt illo minima omnis tenetur nisi ad atque voluptate facere deleniti aspernatur doloremque accusamus quasi, odit eum explicabo.</p>
            </div>

        </div>

        <hr>

        <div class="row">

            <div class="col-lg-7 col-md-7">
                <a href="#">
                    <img class="img-responsive" src="static/img/car_700x300.jpg" alt="">
                </a>
                <div class="ratings">
                    <p class="pull-right">45 reviews</p>
                    <p>
                        <span class="glyphicon glyphicon-star"></span>
                        <span class="glyphicon glyphicon-star"></span>
                        <span class="glyphicon glyphicon-star"></span>
                        <span class="glyphicon glyphicon-star"></span>
                        <span class="glyphicon glyphicon-star-empty"></span>
                        4.0 stars
                    </p>
                </div>
            </div>

            <div class="col-lg-2 col-md-2">
                <h3>Carro 2</h3>
                <h4>Subheading</h4>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam viverra euismod odio, gravida pellentesque urna varius vitae. Sed dui lorem, adipiscing in adipiscing et.</p>
                <a class="btn btn-primary" href="#">Monte seu carro <span class="glyphicon glyphicon-chevron-right"></span></a>
            </div>

            <div class="col-lg-2 col-md-2">
                <p>A partir de</p>
                <h4>R$ 12.500,00</h4>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Expedita nesciunt minima porro voluptate quasi necessitatibus officiis labore itaque tenetur quibusdam inventore a, illum veritatis suscipit distinctio eveniet dolore, magni animi!</p>
            </div>

        </div>

        <hr>

        <div class="row">

            <div class="col-lg-7 col-md-7">
                <a href="#">
                    <img class="img-responsive" src="static/img/car_700x300.jpg" alt="">
                </a>
                <div class="ratings">
                    <p class="pull-right">45 reviews</p>
                    <p>
                        <span class="glyphicon glyphicon-star"></span>
                        <span class="glyphicon glyphicon-star"></span>
                        <span class="glyphicon glyphicon-star"></span>
                        <span class="glyphicon glyphicon-star"></span>
                        <span class="glyphicon glyphicon-star-empty"></span>
                        4.0 stars
                    </p>
                </div>
            </div>

            <div class="col-lg-2 col-md-2">
                <h3>Carro 3</h3>
                <h4>Subheading</h4>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam viverra euismod odio, gravida pellentesque urna varius vitae. Sed dui lorem, adipiscing in adipiscing et.</p>
                <a class="btn btn-primary" href="#">Monte seu carro <span class="glyphicon glyphicon-chevron-right"></span></a>
            </div>

            <div class="col-lg-2 col-md-2">
                <p>A partir de</p>
                <h4>R$ 12.500,00</h4>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Magnam deserunt molestias error eos nemo quod quo eligendi beatae deleniti nesciunt asperiores, omnis vitae placeat a, blanditiis quia. Laboriosam laudantium, saepe.</p>
            </div>

        </div>

        <hr>

        <div class="row">

            <div class="col-lg-7 col-md-7">
                <a href="#">
                    <img class="img-responsive" src="static/img/car_700x300.jpg" alt="">
                </a>
                <div class="ratings">
                    <p class="pull-right">45 reviews</p>
                    <p>
                        <span class="glyphicon glyphicon-star"></span>
                        <span class="glyphicon glyphicon-star"></span>
                        <span class="glyphicon glyphicon-star"></span>
                        <span class="glyphicon glyphicon-star"></span>
                        <span class="glyphicon glyphicon-star-empty"></span>
                        4.0 stars
                    </p>
                </div>
            </div>

            <div class="col-lg-2 col-md-2">
                <h3>Carro 4</h3>
                <h4>Subheading</h4>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam viverra euismod odio, gravida pellentesque urna varius vitae. Sed dui lorem, adipiscing in adipiscing et.</p>
                <a class="btn btn-primary" href="#">Monte seu carro <span class="glyphicon glyphicon-chevron-right"></span></a>
            </div>

            <div class="col-lg-2 col-md-2">
                <p>A partir de</p>
                <h4>R$ 12.500,00</h4>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ea voluptas laboriosam maiores a eius temporibus, reiciendis enim qui quia facilis, neque eum, illo quas vel delectus exercitationem voluptatem consectetur tempora?</p>
            </div>

        </div>

        <hr>

        <div class="row">

            <div class="col-lg-7 col-md-7">
                <a href="#">
                    <img class="img-responsive" src="static/img/car_700x300.jpg" alt="">
                </a>
                <div class="ratings">
                    <p class="pull-right">45 reviews</p>
                    <p>
                        <span class="glyphicon glyphicon-star"></span>
                        <span class="glyphicon glyphicon-star"></span>
                        <span class="glyphicon glyphicon-star"></span>
                        <span class="glyphicon glyphicon-star"></span>
                        <span class="glyphicon glyphicon-star-empty"></span>
                        4.0 stars
                    </p>
                </div>
            </div>

            <div class="col-lg-2 col-md-2">
                <h3>Carro 5</h3>
                <h4>Subheading</h4>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam viverra euismod odio, gravida pellentesque urna varius vitae. Sed dui lorem, adipiscing in adipiscing et.</p>
                <a class="btn btn-primary" href="#">Monte seu carro <span class="glyphicon glyphicon-chevron-right"></span></a>
            </div>

            <div class="col-lg-2 col-md-2">
                <p>A partir de</p>
                <h4>R$ 12.500,00</h4>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Repellendus fugit, ducimus ipsam aspernatur hic. Inventore recusandae aliquid, doloribus earum ducimus autem necessitatibus a ullam perferendis deserunt nihil rerum quibusdam porro.</p>
            </div>

        </div>

        <hr>

    </div>

<!-- pagination -->
        <div class="row text-center">

            <div class="col-lg-12">
                <ul class="pagination">
                    <li><a href="#">&laquo;</a>
                    </li>
                    <li class="active"><a href="#">1</a>
                    </li>
                    <li><a href="#">2</a>
                    </li>
                    <li><a href="#">3</a>
                    </li>
                    <li><a href="#">4</a>
                    </li>
                    <li><a href="#">5</a>
                    </li>
                    <li><a href="#">&raquo;</a>
                    </li>
                </ul>
            </div>

        </div>
    </div>
    <!-- /.container -->

<footer class="navbar-inverse letter-white">
    <div class="container">
        <div class="row clearfix">
            <div class="col-md-12 column">
                <div class="col-md-4 column">
                    <ul>
                        <li>
                            Acessórios
                        </li>
                        <li>
                            Carros
                        </li>
                        <li>
                            Marcas
                        </li>
                        <li>
                            Modelos
                        </li>
                    </ul>
                </div>
                <div class="col-md-4 column">
                    <ul>
                        <li>
                            Concessionárias
                        </li>
                        <li>
                            Quiosques
                        </li>
                        <li>
                            Quem Somos
                        </li>
                        <li>
                            Fale Conosco
                        </li>
                    </ul>
                </div>
                <div class="col-md-4 column">
                    <ul>
                        <li>
                            Cadastre-se
                        </li>
                        <li>
                            Monte seu Carro
                        </li>
                    </ul>
                </div>
            </div>
            <div class="row clearfix">
                <div class="col-md-12 column">
                    <p class="pull-right">
                        <a href="#">Topo</a>
                    </p>
                    <p>Logo New Way by 2 Many Peoples &copy; 2014 &middot; all righs reserved. <a rel="license" href="http://creativecommons.org/licenses/by-nc-sa/3.0/" target="_blank"><img alt="Creative Commons License" style="border-width:0" src="http://i.creativecommons.org/l/by-nc-sa/3.0/br/80x15.png" /></a> github and background image</p>
                </div>
            </div>
        </div>
    </div>        
</footer>

    <!-- JavaScript -->
    <script src="static/js/jquery-1.10.2.js"></script>
    <script src="static/js/bootstrap.js"></script>

</body>

</html>
