<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">

<!--    {% block title %} -->
    <title>Concessionária lista</title>
<!--    {% endblock title %} -->

    <!-- Bootstrap core CSS -->
    <link href="static/css/bootstrap.css" rel="stylesheet">
    <link href="static/css/base.css" rel="stylesheet">

    <!-- Add custom CSS here -->
    <link href="full-slider.css" rel="stylesheet">

</head>

<body>
<!-- menu -->
    <nav class="navbar navbar-fixed-top navbar-inverse" role="navigation">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#">New Way</a>
            </div>
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse navbar-ex1-collapse">
                <ul class="nav navbar-nav">
                    <li><a href="#">Home</a>
                    </li>
                    <li><a href="#">Carros</a>
                    </li>
                    <li><a href="#">Concessionárias</a>
                    </li>
                    <li><a href="#">Cadastre-se</a>
                    </li>
                    <li><a href="#">Monte seu Carro</a>
                    </li>
                    <li><a href="#">Quem Somos</a>
                    </li>
                    <li><a href="#">Fale Conosco</a>
                    </li>
                    <li><a href="#">Login</a>
                    </li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container -->
    </nav>

<!-- titulo -->
    <div class="container">

        <div class="jumbotron">
            <h2>Escolha uma concessionária</h2>
        </div>

<!-- 2 colunas -->
        <div class="row">

            <div class="col-lg-6">
                <h4>Auto Green</h4>
                <p>Endereço: Rua Coelho Lisboa, 574 - Tatuapé - São Paulo - SP</p>
                <p>Telefone: (11) 0000-0000</p>
                <p>Site: <a href="http://www.autogreen.com.br" target="_blank">www.autogreen.com.br</a></p>
            </div>

            <div class="col-lg-6">
                <h4>Biscayne</h4>
                <p>Endereço: Av. Indianópolis, 100 - São Paulo - SP</p>
                <p>Telefone: (11) 0000-0000</p>
                <p>Site: <a href="http://www.biscayne.com.br" target="_blank">www.biscayne.com.br</a></p>
            </div>

        </div>

        <div class="row">

            <div class="col-lg-6">
                <h4>Caltabiano</h4>
                <p>Endereço: Av. Pacaembú, 380 - Barra Funda - São Paulo - SP</p>
                <p>Telefone: (11) 0000-0000</p>
                <p>Site: <a href="http://www.caltabiano.com.br" target="_blank">www.caltabiano.com.br</a></p>
            </div>

            <div class="col-lg-6">
                <h4>Caraigá</h4>
                <p>Endereço: Av. Ulisses Reis de Matos, 100 - Morumbi - São Paulo - SP</p>
                <p>Telefone: (11) 0000-0000</p>
                <p>Site: <a href="http://www.caraiga.com.br" target="_blank">www.caraiga.com.br</a></p>
            </div>

        </div>

        <div class="row">

            <div class="col-lg-6">
                <h4>Itavema</h4>
                <p>Endereço: Av. Moreira Guimarães, 367 - Moema - São Paulo - SP</p>
                <p>Telefone: (11) 0000-0000</p>
                <p>Site: <a href="http://www.itavema.com.br" target="_blank">www.itavema.com.br</a></p>
            </div>

            <div class="col-lg-6">
                <h4>Santa Luiza</h4>
                <p>Endereço: Rua Padre Machado, 68 - Vila Mariana - São Paulo - SP</p>
                <p>Telefone: (11) 0000-0000</p>
                <p>Site: <a href="http://www.santaluiza.com.br" target="_blank">www.santaluiza.com.br</a></p>
            </div>

        </div>

        <hr>
<!-- pagination -->
        <div class="row text-center">

            <div class="col-lg-12">
                <ul class="pagination">
                    <li><a href="#">&laquo;</a>
                    </li>
                    <li class="active"><a href="#">1</a>
                    </li>
                    <li><a href="#">2</a>
                    </li>
                    <li><a href="#">3</a>
                    </li>
                    <li><a href="#">4</a>
                    </li>
                    <li><a href="#">5</a>
                    </li>
                    <li><a href="#">&raquo;</a>
                    </li>
                </ul>
            </div>

        </div>
    </div>
    <!-- /.container -->

<footer class="navbar-inverse letter-white">
    <div class="container">
        <div class="row clearfix">
            <div class="col-md-12 column">
                <div class="col-md-4 column">
                    <ul>
                        <li>
                            Acessórios
                        </li>
                        <li>
                            Carros
                        </li>
                        <li>
                            Marcas
                        </li>
                        <li>
                            Modelos
                        </li>
                    </ul>
                </div>
                <div class="col-md-4 column">
                    <ul>
                        <li>
                            Concessionárias
                        </li>
                        <li>
                            Quiosques
                        </li>
                        <li>
                            Quem Somos
                        </li>
                        <li>
                            Fale Conosco
                        </li>
                    </ul>
                </div>
                <div class="col-md-4 column">
                    <ul>
                        <li>
                            Cadastre-se
                        </li>
                        <li>
                            Monte seu Carro
                        </li>
                    </ul>
                </div>
            </div>
            <div class="row clearfix">
                <div class="col-md-12 column">
                    <p class="pull-right">
                        <a href="#">Topo</a>
                    </p>
                    <p>Logo New Way by 2 Many Peoples &copy; 2014 &middot; all righs reserved. <a rel="license" href="http://creativecommons.org/licenses/by-nc-sa/3.0/" target="_blank"><img alt="Creative Commons License" style="border-width:0" src="http://i.creativecommons.org/l/by-nc-sa/3.0/br/80x15.png" /></a> github and background image</p>
                </div>
            </div>
        </div>
    </div>        
</footer>

    <!-- JavaScript -->
    <script src="static/js/jquery-1.10.2.js"></script>
    <script src="static/js/bootstrap.js"></script>

</body>

</html>
