<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">

<!--    {% block title %} -->
    <title>Veiculo Item</title>
<!--    {% endblock title %} -->

    <!-- Bootstrap core CSS -->
    <link href="static/css/bootstrap.css" rel="stylesheet">
    <link href="static/css/base.css" rel="stylesheet">

    <!-- Add custom CSS here -->
    <link href="full-slider.css" rel="stylesheet">

</head>

<body>

    <nav class="navbar navbar-fixed-top navbar-inverse" role="navigation">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#">New Way</a>
            </div>
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse navbar-ex1-collapse">
                <ul class="nav navbar-nav">
                    <li><a href="#">Home</a>
                    </li>
                    <li><a href="#">Carros</a>
                    </li>
                    <li><a href="#">Concessionárias</a>
                    </li>
                    <li><a href="#">Cadastre-se</a>
                    </li>
                    <li><a href="#">Monte seu Carro</a>
                    </li>
                    <li><a href="#">Quem Somos</a>
                    </li>
                    <li><a href="#">Fale Conosco</a>
                    </li>
                    <li><a href="#">Login</a>
                    </li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container -->
    </nav>

    <div class="container">

        <div class="row">

            <div class="col-lg-12">
                <h1 class="page-header">Carro xpto 1.4
                    <small>Description</small>
                </h1>
            </div>

        </div>

        <div class="row">

            <div class="col-md-8">
                <img class="img-responsive" src="static/img/car_750x500.jpg">
                <div class="ratings">
                    <p class="pull-right">3 reviews</p>
                    <p>
                        <span class="glyphicon glyphicon-star"></span>
                        <span class="glyphicon glyphicon-star"></span>
                        <span class="glyphicon glyphicon-star"></span>
                        <span class="glyphicon glyphicon-star"></span>
                        <span class="glyphicon glyphicon-star-empty"></span>
                        4.0 stars
                    </p>
                </div>
            </div>

            <div class="col-md-4">
                <h3>Titulo</h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam viverra euismod odio, gravida pellentesque urna varius vitae. Sed dui lorem, adipiscing in adipiscing et, interdum nec metus. Mauris ultricies, justo eu convallis placerat, felis enim.</p>
                <h3>Detalhes do carro</h3>
                <ul>
                    <li>Lorem Ipsum</li>
                    <li>Dolor Sit Amet</li>
                    <li>Consectetur</li>
                    <li>Adipiscing Elit</li>
                </ul>
                <h4>$24.99</h4>
                <button class="btn btn-lg btn-primary" type="submit">Monte seu carro</button>
            </div>

        </div>

        <div class="row">

            <div class="col-lg-12">
                <h3 class="page-header">Outros modelos <small>Usar carousel</small></h3>
            </div>

            <div class="col-sm-3 col-xs-6">
                <a href="#">
                    <img class="img-responsive portfolio-item" src="static/img/car_500x300.jpg">
                </a>
                <p><h4>modelo 1</h4></p>
            </div>

            <div class="col-sm-3 col-xs-6">
                <a href="#">
                    <img class="img-responsive portfolio-item" src="static/img/car_500x300.jpg">
                </a>
                <p><h4>modelo 2</h4></p>
            </div>

            <div class="col-sm-3 col-xs-6">
                <a href="#">
                    <img class="img-responsive portfolio-item" src="static/img/car_500x300.jpg">
                </a>
                <p><h4>modelo 3</h4></p>
            </div>

            <div class="col-sm-3 col-xs-6">
                <a href="#">
                    <img class="img-responsive portfolio-item" src="static/img/car_500x300.jpg">
                </a>
                <p><h4>modelo 4</h4></p>
            </div>

        </div>

    </div>
    <!-- /.container -->

<footer class="navbar-inverse letter-white">
    <div class="container">
        <div class="row clearfix">
            <div class="col-md-12 column">
                <div class="col-md-4 column">
                    <ul>
                        <li>
                            Acessórios
                        </li>
                        <li>
                            Carros
                        </li>
                        <li>
                            Marcas
                        </li>
                        <li>
                            Modelos
                        </li>
                    </ul>
                </div>
                <div class="col-md-4 column">
                    <ul>
                        <li>
                            Concessionárias
                        </li>
                        <li>
                            Quiosques
                        </li>
                        <li>
                            Quem Somos
                        </li>
                        <li>
                            Fale Conosco
                        </li>
                    </ul>
                </div>
                <div class="col-md-4 column">
                    <ul>
                        <li>
                            Cadastre-se
                        </li>
                        <li>
                            Monte seu Carro
                        </li>
                    </ul>
                </div>
            </div>
            <div class="row clearfix">
                <div class="col-md-12 column">
                    <p class="pull-right">
                        <a href="#">Topo</a>
                    </p>
                    <p>Logo New Way by 2 Many Peoples &copy; 2014 &middot; all righs reserved. <a rel="license" href="http://creativecommons.org/licenses/by-nc-sa/3.0/" target="_blank"><img alt="Creative Commons License" style="border-width:0" src="http://i.creativecommons.org/l/by-nc-sa/3.0/br/80x15.png" /></a> github and background image</p>
                </div>
            </div>
        </div>
    </div>        
</footer>

    <!-- JavaScript -->
    <script src="static/js/jquery-1.10.2.js"></script>
    <script src="static/js/bootstrap.js"></script>

</body>

</html>
